:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}


*{
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

body {
  background: #fafafa; 
  min-height: 100vh;
}

button {
  height: fit-content;
  cursor: pointer;
  color: #fafafa;
  background-color: #333333;
}

.app {
  width: 600px;
  margin: auto;
  padding-top: 50px;
  color: black;
}

.input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 0px 10px 0px;
}

.to-do-input input {
  width: 250px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  outline: none;
  background: #333333;
  color: #fafafa;
}

.to-do-input button {
  color: #fafafa;
  border: none;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.to-do-list i {
  color: purple;
  cursor: pointer;
}

.to-do-list .fa-pen-to-square {
  color: #fafafa;
}

.to-do-list button {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #333333;
  border-radius: 10px;
  padding: 8px;
}

.input-controller {
  display: flex;
  gap: 10px;
}

.input-controller textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.4;
  color: #fafafa;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.30s ease-in-out;
}

.edit-controller {
  display: flex;
  gap: 5px;
}

.update-controller {
  display: none;
}

@media(max-width: 500px) {
  .app {
    width: 95%;
    text-align: center;
  }

  .input-header {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .to-do-input {
    display: flex;
  }

  .to-do-input input {
    width: 300px;
  }

}